<div>
    <div class="d-flex flex-row-reverse mt-5">
        <a [routerLink]="['']" type="button" class="btn btn-primary btn-lg">Back</a>
      </div>
    <h1 class="my-5 text-center">{{header}}</h1>
    <form (ngSubmit)="onSubmit(emplListForm)" #emplListForm="ngForm">     
        <div class="mb-3">
            <label for="Email address" class="form-label">ID <span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="Enter your ID..." [ngModel]="emplyoee.id" name="id" required>           
        </div>
        <div class="mb-3">
            <label for="Name" class="form-label">Name<span class="text-danger">*</span></label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter your name..." required minlength="4" appForbiddenName="bob" [(ngModel)]="emplyoee.name" #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
            <span *ngIf="name.errors?.required">
                Name is required.
            </span>
            <span *ngIf="name.errors?.minlength">
                Name must be at least 4 characters long.
            </span>
            <span *ngIf="name.errors?.forbiddenName">
                Name cannot be Bob.
            </span>
            </div>
        </div>
        <div class="mb-3">
            <label for="Email address" class="form-label">Email address<span class="text-danger">*</span></label>
            <input type="email" class="form-control" placeholder="name@example.com" [ngModel]="emplyoee.email" email #email="ngModel" required>
        <span class="text-danger" *ngIf="email.touched && !email.valid">Enter email address</span>

        
        </div>
        <div class="mb-3">
            <label for="Phone" class="form-label">Phone<span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="+91-55565665.." [ngModel]="emplyoee.phone" name="phone" #phone="ngModel" required>
            <span class="text-danger" *ngIf="phone.touched && !phone.valid">Enter Phone number</span>
        </div>
        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary" [disabled]=!emplListForm.valid>Save</button>
        </div>
    </form>
</div>
